Repository Ribuddy/ribuddy-api-nest: changes, and which lefthook commands are due for each by the changed paths.
All: eslint, prettier

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    eslint:
      glob: '**/*.ts'
      run: |
        echo "🔍 ========================================="
        echo "🔧 Running ESLint on staged files..."
        echo "🔍 ========================================="
        pnpm exec eslint {staged_files} --fix || exit 1
        echo "✅ ESLint completed successfully!"
      stage_fixed: true
    prettier:
      glob: '**/*.{ts,json,yaml,md}'
      run: |
        echo "💅 ========================================="
        echo "🎨 Running Prettier on staged files..."
        echo "💅 ========================================="
        pnpm exec prettier --write {staged_files} || exit 1
        echo "✅ Code formatting completed!"
      stage_fixed: true
    type-check:
      run: |
        echo "🔍 ========================================="
        echo "📝 Running TypeScript type checking..."
        echo "🔍 ========================================="
        pnpm type-check || exit 1
        echo "✅ Type checking completed successfully!"

pre-push:
  commands:
    build:
      run: |
        echo "🚀 ========================================="
        echo "🚀 Starting build for push verification..."
        echo "🚀 ========================================="
        echo "📊 Step 1/2: Running type check..."
        if pnpm type-check; then
          echo "✅ Type check passed successfully!"
          echo "📊 Step 2/2: Building project..."
          echo "🔨 ========================================="
          echo "🏗️ Removing previous build leftovers..."
          echo "🔨 ========================================="
          pnpm remove-leftovers || exit 1
          echo "🔨 ========================================="
          echo "🏗️ Running production build..."
          echo "🔨 ========================================="
          pnpm build || exit 1
          echo "🎉 ========================================="
          echo "✅ Build completed successfully!"
          echo "🚀 Ready to push!"
          echo "🎉 ========================================="
        else
          echo "❌ ========================================="
          echo "❌ Type check failed!"
          echo "🚫 Build skipped - fix type errors first"
          echo "❌ ========================================="
          exit 1
        fi

[Feat] 라이딩 팀 생성, 삭제, 사용자 초대 및 사용자가 속한 라이딩 팀 조회 기능 (#33)
  package.json
  pnpm-lock.yaml
  prisma/mysql/schema.prisma
  src/common/codes/error/user.error.code.ts
  src/common/decorators/transform.decorator.ts
  src/common/pipes/parse-bigint.pipe.ts
  src/generated/prisma/mysql/edge.js
  src/generated/prisma/mysql/index-browser.js
  src/generated/prisma/mysql/index.d.ts
  src/generated/prisma/mysql/index.js
  src/generated/prisma/mysql/package.json
  src/generated/prisma/mysql/schema.prisma
  src/generated/prisma/mysql/wasm.js
  src/main.ts
  src/modules/test/controllers/error.test.controller.ts
  src/modules/test/dto/error.dto.ts
  src/modules/users/controllers/v1/team.v1.controller.ts
  src/modules/users/controllers/v1/users.v1.controller.ts
  src/modules/users/dto/team.dto.ts
  src/modules/users/services/team.users.service.ts
  src/modules/users/services/users.service.ts
  src/modules/users/users.module.ts
Due: eslint, prettier

✨ Feat: DB 변경사항 반영
  prisma/mysql/schema.prisma
  src/generated/prisma/mongodb/edge.js
  src/generated/prisma/mongodb/index.js
  src/generated/prisma/mysql/edge.js
  src/generated/prisma/mysql/index-browser.js
  src/generated/prisma/mysql/index.d.ts
  src/generated/prisma/mysql/index.js
  src/generated/prisma/mysql/package.json
  src/generated/prisma/mysql/schema.prisma
  src/generated/prisma/mysql/wasm.js
Due: eslint, prettier

📦️ Package: Redis 설치 및 스크립트 변경
  package.json
  pnpm-lock.yaml
Due: none

🩹 Chore: Swagger Tag 순서 constants 반영
  src/common/constants/api-tags.constants.ts
  src/main.ts
Due: eslint, prettier

✨ Feat: Team 구성 관련 User Module 변경
  src/modules/users/services/team.users.service.ts
  src/modules/users/users.module.ts
Due: eslint, prettier

✨ Feat: Redis 적용 및 Team & Location 반영
  src/common/constants/redis.constants.ts
  src/modules/app/app.module.ts
  src/modules/driving/controllers/location.v1.controller.ts
  src/modules/driving/controllers/team.v1.driving.controller.ts
  src/modules/driving/driving.module.ts
  src/modules/driving/dto/common.driving.dto.ts
  src/modules/driving/services/drive-location.service.ts
  src/modules/driving/types/drive-location.types.ts
  src/modules/map/controllers/v1/map.v1.controller.ts
  src/modules/test/controllers/db.test.controller.ts
  src/modules/users/controllers/v1/team.v1.controller.ts
Due: eslint, prettier

[Feat] Redis 적용 및 라이딩 팀 수정사항 반영 (#36)
  package.json
  pnpm-lock.yaml
  prisma/mysql/schema.prisma
  src/common/constants/api-tags.constants.ts
  src/common/constants/redis.constants.ts
  src/generated/prisma/mongodb/edge.js
  src/generated/prisma/mongodb/index.js
  src/generated/prisma/mysql/edge.js
  src/generated/prisma/mysql/index-browser.js
  src/generated/prisma/mysql/index.d.ts
  src/generated/prisma/mysql/index.js
  src/generated/prisma/mysql/package.json
  src/generated/prisma/mysql/schema.prisma
  src/generated/prisma/mysql/wasm.js
  src/main.ts
  src/modules/app/app.module.ts
  src/modules/driving/controllers/location.v1.controller.ts
  src/modules/driving/controllers/team.v1.driving.controller.ts
  src/modules/driving/driving.module.ts
  src/modules/driving/dto/common.driving.dto.ts
  src/modules/driving/services/drive-location.service.ts
  src/modules/driving/types/drive-location.types.ts
  src/modules/map/controllers/v1/map.v1.controller.ts
  src/modules/test/controllers/db.test.controller.ts
  src/modules/users/controllers/v1/team.v1.controller.ts
  src/modules/users/services/team.users.service.ts
  src/modules/users/users.module.ts
Due: eslint, prettier

✨ Feat: Prisma Client 재생성
  src/generated/prisma/mongodb/edge.js
  src/generated/prisma/mongodb/index.js
  src/generated/prisma/mysql/edge.js
  src/generated/prisma/mysql/index.js
Due: none

✨ Feat: Redis constant 변경 및 #36 버그 수정
  src/common/constants/redis.constants.ts
  src/modules/driving/services/drive-location.service.ts
  src/modules/users/controllers/v1/users.v1.controller.ts
  src/modules/users/services/team.users.service.ts
Due: eslint, prettier

✨ Feat: MySQL DB 변경
  prisma/mysql/schema.prisma
  src/generated/prisma/mysql/edge.js
  src/generated/prisma/mysql/index-browser.js
  src/generated/prisma/mysql/index.d.ts
  src/generated/prisma/mysql/index.js
  src/generated/prisma/mysql/package.json
  src/generated/prisma/mysql/schema.prisma
  src/generated/prisma/mysql/wasm.js
Due: eslint, prettier

✨ Feat: 라이딩 기록 생성용 테스트 API & 친구와 함께 라이딩 한 횟수 저장
  src/common/codes/error/user.error.code.ts
  src/modules/driving/controllers/team.v1.driving.controller.ts
  src/modules/driving/services/drive-location.service.ts
  src/modules/users/controllers/v1/users.v1.controller.ts
  src/modules/users/dto/user.dto.ts
  src/modules/users/services/users.service.ts
Due: eslint, prettier

✨ Feat: DB Schema update
  package.json
  pnpm-lock.yaml
  prisma/mongodb/schema.prisma
  prisma/mysql/schema.prisma
  src/generated/prisma/mongodb/edge.js
  src/generated/prisma/mongodb/index-browser.js
  src/generated/prisma/mongodb/index.d.ts
  src/generated/prisma/mongodb/index.js
  src/generated/prisma/mongodb/package.json
  src/generated/prisma/mongodb/schema.prisma
  src/generated/prisma/mongodb/wasm.js
  src/generated/prisma/mysql/edge.js
  src/generated/prisma/mysql/index-browser.js
  src/generated/prisma/mysql/index.d.ts
  src/generated/prisma/mysql/index.js
  src/generated/prisma/mysql/package.json
  src/generated/prisma/mysql/schema.prisma
  src/generated/prisma/mysql/wasm.js
Due: eslint, prettier

✨ Feat: RidingRecord 관련 재구축
  src/common/codes/error/user.error.code.ts
  src/modules/app/app.module.ts
  src/modules/driving/controllers/location.v1.controller.ts
  src/modules/driving/controllers/team.v1.driving.controller.ts
  src/modules/driving/dto/common.driving.dto.ts
  src/modules/driving/services/drive-location.service.ts
  src/modules/prisma/services/mongodb.prisma.service.ts
  src/modules/test/controllers/db.test.controller.ts
  src/modules/users/controllers/v1/team.v1.controller.ts
  src/modules/users/dto/user.dto.ts
  src/modules/users/services/team.users.service.ts
  src/modules/users/services/users.service.ts
Due: eslint, prettier

✨ Feat: HTTP 파일 생성 및 gitignore에 env 파일 추가
  .gitignore
  src/modules/test/http/riding.http
Due: none

✨ Feat: RidingRecord에 상태 추가
  src/modules/driving/services/drive-location.service.ts
Due: eslint, prettier

✅ Test: 팀 생성 후 라이딩 관련 Test 생성
  src/modules/test/http/create-team-ride.http
Due: none

✅ Test: 친구 및 팀 관련 HTTP test 추가
  src/generated/prisma/mongodb/edge.js
  src/generated/prisma/mongodb/index.js
  src/modules/driving/controllers/team.v1.driving.controller.ts
  src/modules/test/http/friend-team.http
  src/modules/users/controllers/v1/users.v1.controller.ts
Due: eslint, prettier

♻️ Refactor: Swagger Docs 정리 및 사고 발생 API 추가
  prisma/mongodb/schema.prisma
  src/generated/prisma/mongodb/edge.js
  src/generated/prisma/mongodb/index-browser.js
  src/generated/prisma/mongodb/index.d.ts
  src/generated/prisma/mongodb/index.js
  src/generated/prisma/mongodb/package.json
  src/generated/prisma/mongodb/schema.prisma
  src/generated/prisma/mongodb/wasm.js
  src/generated/prisma/mysql/edge.js
  src/generated/prisma/mysql/index.js
  src/modules/auth/auth.module.ts
  src/modules/auth/constants/strategy.constants.ts
  src/modules/auth/controllers/v1/auth.v1.controller.ts
  src/modules/auth/controllers/v1/oauth.v1.controller.ts
  src/modules/auth/controllers/v2/oauth.v2.controller.ts
  src/modules/auth/docs/oauth.docs.ts
  src/modules/auth/guards/google-oauth.guard.ts
  src/modules/auth/guards/jwt-auth.guard.ts
  src/modules/auth/guards/register-jwt.guard.ts
  src/modules/auth/services/jwt.auth.service.ts
  src/modules/auth/services/kakao-oauth.auth.service.ts
  src/modules/auth/services/token.auth.service.ts
  src/modules/auth/strategies/google-oauth.strategy.ts
  src/modules/auth/strategies/jwt.strategy.ts
  src/modules/auth/strategies/kakao-oauth.strategy.ts
  src/modules/auth/strategies/register.jwt.strategy.ts
  src/modules/driving/controllers/event.driving.controller.ts
  src/modules/driving/controllers/team.v1.driving.controller.ts
  src/modules/driving/dto/common.driving.dto.ts
  src/modules/driving/services/drive-location.service.ts
  src/modules/driving/services/event.driving.service.ts
Due: eslint, prettier

✏️ Typo: 코드 내 주석 및 자잘한 오타 및 오류 수정
  src/modules/driving/controllers/team.v1.driving.controller.ts
  src/modules/driving/services/event.driving.service.ts
  src/modules/users/controllers/v1/team.v1.controller.ts
  src/modules/users/services/team.users.service.ts
Due: eslint, prettier

📦️ Package: faker 패키지를 devDependency로 변경
  package.json
Due: none

[Hotfix] devDependency에 포함된 패키지를 prod 환경에서 사용해서 발생하던 문제 해결 (#41)
  package.json
  pnpm-lock.yaml
Due: none

✨ Feat: GitHub Actions에 컨테이너 실행 후 로그를 출력하도록 변경
  .github/workflows/docker-build-deploy.yaml
Due: prettier

[Feat] CI/CD 과정에서 컨테이너 실행 후 로그를 출력하도록 변경 (#43)
  .github/workflows/docker-build-deploy.yaml
Due: prettier

♻️ Refactor: tmap module을 map으로 통일
  src/main.ts
  src/modules/app/app.module.ts
  src/modules/map/configs/tmap.config.ts
  src/modules/map/controllers/v1/map.v1.controller.ts
  src/modules/map/dto/poi-search-request.dto.ts
  src/modules/map/dto/route-request.dto.ts
  src/modules/map/map.module.ts
  src/modules/map/services/tmap-route.service.ts
  src/modules/map/services/tmap-search.service.ts
  src/modules/tmap/tmap.module.ts
  src/modules/users/services/team.users.service.ts
Due: eslint, prettier

🐛 Bug: 팀을 탈퇴해도 팀 목록에 그대로 뜨는 현상 해결
  src/modules/users/services/team.users.service.ts
Due: eslint, prettier

✨ Feat: DB client 재생성
  src/generated/prisma/mongodb/edge.js
  src/generated/prisma/mongodb/index.js
  src/generated/prisma/mysql/edge.js
  src/generated/prisma/mysql/index.js
Due: none

🐛 Bug: 사용자 정보 조회 시 RibuddyID가 포함되지 않는 현상 해결
  src/modules/users/controllers/v1/team.v1.controller.ts
  src/modules/users/dto/user.dto.ts
  src/modules/users/services/team.users.service.ts
  src/modules/users/services/users.service.ts
Due: eslint, prettier

✨ Feat: 로그 추가
  src/modules/auth/services/google-oauth.auth.service.ts
  src/modules/driving/controllers/event.driving.controller.ts
  src/modules/driving/controllers/location.v1.controller.ts
  src/modules/driving/controllers/team.v1.driving.controller.ts
  src/modules/driving/controllers/test.controller.ts
  src/modules/driving/driving.module.ts
  src/modules/driving/services/drive-location.service.ts
  src/modules/prisma/services/mongodb.prisma.service.ts
  src/modules/users/controllers/v1/team.v1.controller.ts
  src/modules/users/controllers/v1/users.v1.controller.ts
  src/modules/users/dto/team.dto.ts
  src/modules/users/services/team.users.service.ts
Due: eslint, prettier

[Feat] AN 연결 및 로그 추가 (#44)
  src/generated/prisma/mongodb/edge.js
  src/generated/prisma/mongodb/index.js
  src/generated/prisma/mysql/edge.js
  src/generated/prisma/mysql/index.js
  src/main.ts
  src/modules/app/app.module.ts
  src/modules/auth/services/google-oauth.auth.service.ts
  src/modules/driving/controllers/event.driving.controller.ts
  src/modules/driving/controllers/location.v1.controller.ts
  src/modules/driving/controllers/team.v1.driving.controller.ts
  src/modules/driving/controllers/test.controller.ts
  src/modules/driving/driving.module.ts
  src/modules/driving/services/drive-location.service.ts
  src/modules/map/configs/tmap.config.ts
  src/modules/map/controllers/v1/map.v1.controller.ts
  src/modules/map/dto/poi-search-request.dto.ts
  src/modules/map/dto/route-request.dto.ts
  src/modules/map/map.module.ts
  src/modules/map/services/tmap-route.service.ts
  src/modules/map/services/tmap-search.service.ts
  src/modules/prisma/services/mongodb.prisma.service.ts
  src/modules/tmap/tmap.module.ts
  src/modules/users/controllers/v1/team.v1.controller.ts
  src/modules/users/controllers/v1/users.v1.controller.ts
  src/modules/users/dto/team.dto.ts
  src/modules/users/dto/user.dto.ts
  src/modules/users/services/team.users.service.ts
  src/modules/users/services/users.service.ts
Due: eslint, prettier

✨ Feat: AN 요청사항 반영, 내 정보 조회에 친구 목록 및 주행기록 포함
  src/modules/users/dto/user.dto.ts
  src/modules/users/services/users.service.ts
Due: eslint, prettier

[Feat] AN 요청사항 반영 (#45)
  src/modules/users/dto/user.dto.ts
  src/modules/users/services/users.service.ts
Due: eslint, prettier

🐛 Bug: 내 정보 조회에서 팀 조회 시 버그 수정
  src/common/configs/cors-options.config.ts
  src/common/interceptors/bigint-serialization.interceptor.ts
  src/modules/app/app.module.ts
  src/modules/users/services/users.service.ts
  tsconfig.json
Due: eslint, prettier

[Release] v0.2.0 (#46)
  src/common/configs/cors-options.config.ts
  src/common/interceptors/bigint-serialization.interceptor.ts
  src/modules/app/app.module.ts
  src/modules/users/services/users.service.ts
  tsconfig.json
Due: eslint, prettier

✨ Feat: 티맵 길찾기 및 POI 검색 로직 작동하도록 개선
  src/modules/map/controllers/v1/map.v1.controller.ts
  src/modules/map/dto/poi-search-request.dto.ts
  src/modules/map/dto/route-request.dto.ts
  src/modules/map/services/tmap-route.service.ts
  src/modules/map/services/tmap-search.service.ts
Due: eslint, prettier

🐛 Bug: 팀 참여 코드로 참여 시 버그 해결
  src/modules/users/services/team.users.service.ts
Due: eslint, prettier

🩹 Chore: 코드 정리
  src/modules/driving/controllers/team.v1.driving.controller.ts
  src/modules/map/dto/route-request.dto.ts
Due: eslint, prettier

✨ Feat: DB 변경
  prisma/mongodb/schema.prisma
  src/generated/prisma/mongodb/edge.js
  src/generated/prisma/mongodb/index-browser.js
  src/generated/prisma/mongodb/index.d.ts
  src/generated/prisma/mongodb/index.js
  src/generated/prisma/mongodb/package.json
  src/generated/prisma/mongodb/schema.prisma
  src/generated/prisma/mongodb/wasm.js
Due: eslint, prettier

✨ Feat: 사고 보고, 주행 리포트 완성
  prisma/mongodb/schema.prisma
  src/common/utils/geo-utils.ts
  src/generated/prisma/mongodb/edge.js
  src/generated/prisma/mongodb/index-browser.js
  src/generated/prisma/mongodb/index.d.ts
  src/generated/prisma/mongodb/index.js
  src/generated/prisma/mongodb/package.json
  src/generated/prisma/mongodb/schema.prisma
  src/generated/prisma/mongodb/wasm.js
  src/modules/driving/controllers/event.driving.controller.ts
  src/modules/driving/controllers/location.v1.controller.ts
  src/modules/driving/controllers/statistics.v1.driving.controller.ts
  src/modules/driving/controllers/team.v1.driving.controller.ts
  src/modules/driving/driving.module.ts
  src/modules/driving/dto/common.driving.dto.ts
  src/modules/driving/dto/statistics.driving.dto.ts
  src/modules/driving/services/drive-location.service.ts
  src/modules/driving/services/event.driving.service.ts
  src/modules/driving/services/statistics.driving.service.ts
  src/modules/driving/types/drive-location.types.ts
  src/modules/map/controllers/v1/map.v1.controller.ts
  src/modules/map/dto/route-request.dto.ts
  src/modules/map/map.module.ts
  src/modules/map/services/routes.service.ts
  src/modules/map/services/tmap-route.service.ts
  src/modules/map/services/tmap-search.service.ts
Due: eslint, prettier

🩹 Chore: 코파일럿 코멘트 적용
  prisma/mongodb/schema.prisma
  src/generated/prisma/mongodb/edge.js
  src/generated/prisma/mongodb/index-browser.js
  src/generated/prisma/mongodb/index.d.ts
  src/generated/prisma/mongodb/index.js
  src/generated/prisma/mongodb/package.json
  src/generated/prisma/mongodb/schema.prisma
  src/generated/prisma/mongodb/wasm.js
  src/modules/driving/controllers/team.v1.driving.controller.ts
  src/modules/driving/services/event.driving.service.ts
Due: eslint, prettier
